.home_MainContainer {
  background-color: #f7f7f6;
}
.home_BackgroundContainer {
  margin-top: -9.7rem;
  background-image: url("/public/images/HomeBackground.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 58.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.counter {
  font-family: "Lato";
  font-size: 3rem;
  color: #ffffff;
  margin-bottom: max(1.4rem);
}
.counter > span {
  color: #ffa500;
}
.slogan {
  display: flex;
  text-align: center;
  color: #ffffff;
  font-family: "Lato";
  font-size: 6.4rem;
  align-items: center;
  justify-content: center;
  max-width: 80rem;
}
.navButton {
  margin-top: 2.7rem;
  margin-bottom: 3rem;
  width: 21.8rem;
  height: 8.5rem;
  background-color: #0336ff;
  border-radius: 8px;
  border-color: transparent;
  font-size: 2.4rem;
  color: #ffffff;
}
.small_Text {
  margin-top: 3rem;
  margin-bottom: 0.7rem;
  font-family: "Roboto";
  font-size: 2.4rem;
  color: #ffffff;
}
.iconFcExpand {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 2rem;
  height: auto;
}
/* Navbar portion completed */
.grid-col-span-2 {
  grid-column: span 2;
}
.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home_subContainerContent {
  margin-left: 6rem;
  margin-right: 6rem;
  margin-top: 10rem;
  gap: 5rem;
  display: grid;
  grid-template-columns: 0.28fr 0.72fr;
  /* background-color: red; */
}
.green {
  background-color: green;
}
.yellow {
  background-color: #ffa500;
}
.purple {
  background-color: purple;
}
.pink {
  background-color: pink;
}
.brown {
  background-color: burlywood;
}
.first_Maingrid {
  /* max-height: 0rem; */
  /* text-align: center; */
  /* display: grid;
  align-items: center;
  justify-content: center;
  column-gap: 43rem; */
  max-height: 0rem;
}
.second_Maingrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  row-gap: 5rem;
  /* max-height: 0rem; */
  /* text-align: center; */
}
.Wild {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* background-color: red; */
}
.card_Button {
  margin-top: 1.7rem;
  width: 18.2rem;
  height: 7.1rem;
  background-color: #0336ff;
  border-radius: 8px;
  border-color: transparent;
  font-size: 2.4rem;
  color: #ffffff;
}
/* second grid completed */
.first_Maingrid {
  background-color: transparent;
  /* display:flex;
  flex-direction: column; */
}
.long_gridFirst {
  display: grid;
  grid-template-rows: auto;
  row-gap: 5rem;
}

figcaption {
  color: #000000;
  text-align: left;
  font-family: "Lato";
  font-size: 1.63rem;
  font-weight: 500;
}
figure > p {
  font-family: "Lato";
  font-size: 2.965rem;
  font-weight: 700;
  color: #000000;
  padding-bottom: 1.1rem;
}

.socialMedia {
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
.socialbutton {
  width: 15rem;
  height: 7.1rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
}
.socialbutton > span {
  display: grid;
  font-family: "Lato";
  font-weight: 700;
  font-size: 1.6rem;
  color: #ffffff;
}
.blue {
  background-color: #4056ac;
}
.navy {
  background-color: #60b7fe;
}
.red {
  background-color: #fe2c3c;
}
.pink {
  background-color: #e14d93;
}
.gearCard {
  background-color: white;
  text-align: center;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.bold {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 2.9649rem;
  line-height: 5rem;
  color: #000000;
}
.light {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-size: 2.4rem;
  text-align: center;
  color: #0b0a0a;
}
.gearButton {
  background-color: #0336ff;
  border-radius: 8px;
  color: white;
  border: none;
  width: 18.2rem;
  height: 7.1rem;
}
